.center {
  color: white;
}
.bgDiv {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px;
  background-image: url("https://img.freepik.com/free-vector/interior-grunge-room-with-lights_125540-953.jpg?w=360");
}

.center h1 {
  text-transform: capitalize;
  text-shadow: #040404;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  padding-top: 300px;
}
